[submodule "include/raspicam"]
	path = include/raspicam
	url = https://github.com/KMM2019-CrazyTaxi/raspicam.git

[submodule "include/QPULib"]
	path = include/QPULib
	url = https://github.com/KMM2019-CrazyTaxi/QPULib.git
